[submodule "External/SDL3-CS"]
	path = External/SDL3-CS
	url = https://github.com/flibitijibibo/SDL3-CS.git
[submodule "External/apricot.native"]
	path = External/apricot.native
	url = https://github.com/ApricotPress/apricot.native
